<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<style>

.vertical {
  text-align: center;
}

.vertical a {
  color: black;
  padding: 10px 20px;
  background-color: lightgray;
  box-shadow: unset;
  width: 5em;
  margin: 0.5em;
  border: 1px solid grey;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

a:hover, a:active {
  background-color: black;
  color: white;
}

h4 {
  margin-bottom: 0;
}



</style>

<script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename='zoomchart.js') }}"></script>
<header id="header">
        <div class="vertical">
          <h4>Choose dataset you want to visualize</h4>
          <div>
          <input type="button" id="aliceButton" value="Alice">
          <input type="button" id="bobButton" value="Bob">
          </div>
        </div>
</header>
<svg id="containerSvg" width="900" height="960"></svg>

<script type="text/javascript">

  var dataSet = {{ data | safe }};

  var bubbles = doMyPlot(dataSet);
  bubbles.init("Alice", "00.json")


  document.getElementById("aliceButton").addEventListener("click", function() {
    bubbles.update("Alice", "00.json");
  });

  document.getElementById("bobButton").addEventListener("click", function() {
    bubbles.update("Bob", "00.json");
  });


</script>
